.rake_test_cache
.DS_Store
.rbenv-version
.idea
.vagrant
*.iml
cache/
**~
# Hide rubinius files
.rbx
data_bags/node
*.swp
shared_src/

# Some extra personal ignore settings
.bundle

# Packer files
packer/build.*
packer/packer_cache
packer/*.box
packer/cookbooks*

data_bags/jndi_resources/harvest-read-po-rc.json
data_bags/jndi_resources/harvest-read-po.json
data_bags/jndi_resources/harvest-systest.json
data_bags/users/restore.json
data_bags/users/sshfs.json
