.m2/
.java/
.ivy2/
.sbt/
.emacs.d/
.ssh/
.gitconfig
.viminfo
log
*.log
*.tmp
*.old
*.bak
*.jar
*.war
*.swp
.owner
terracotta/
updates/
fingerprints/
config-history/
talend/
plugins/
# Only get the config.xml from any Jobs directory
jobs/*/builds
jobs/*/modules
jobs/*/htmlreports
jobs/*/last*
jobs/*/next*
jobs/*/*.csv
jobs/*/*.txt
jobs/*/*.log
jobs/*/workspace
jobs/*/modules
# Process jobs that exist in folders
jobs/**/jobs/*/builds
jobs/**/jobs/*/modules
jobs/**/jobs/*/htmlreports
jobs/**/jobs/*/last*
jobs/**/jobs/*/next*
jobs/**/jobs/*/*.csv
jobs/**/jobs/*/*.txt
jobs/**/jobs/*/*.log
jobs/**/jobs/*/workspace
jobs/**/jobs/*/modules
# More files
war
workspace
