<config>
   <datasets>
   </datasets>
   <threddsCatalog> </threddsCatalog>
   <contact>
      <name>System Administrator</name>
      <organization>IMAS</organization>
      <telephone> </telephone>
      <email><%= node[:email_forward][:email_address] %></email>
   </contact>
   <server>
      <title>IMAS ncWMS Server</title>
      <allowFeatureInfo>true</allowFeatureInfo>
      <maxImageWidth>1024</maxImageWidth>
      <maxImageHeight>1024</maxImageHeight>
      <abstract> </abstract>
      <keywords> </keywords>
      <url> </url>
      <adminpassword><%= @password %></adminpassword>
      <allowglobalcapabilities>true</allowglobalcapabilities>
   </server>
   <cache enabled="false">
      <elementLifetimeMinutes>1440</elementLifetimeMinutes>
      <maxNumItemsInMemory>200</maxNumItemsInMemory>
      <enableDiskStore>true</enableDiskStore>
      <maxNumItemsOnDisk>2000</maxNumItemsOnDisk>
   </cache>
</config>
